
<div class="container">
  <h1 class="title">Stupid Not Stupid Coaching</h1>

  <form action="/answer" data-turbo="false">
    <label for="">Ask your tutor a question:</label>
    <div class="input">
      <input type="text" name="question" placeholder="Here!">
      <input type="submit" value="Ask!">
    </div>
  </form>
</div>
